@model IEnumerable<BLL.DTO.SubjectDTO>
@{ViewBag.Title = "Subjects";}
<div>
    <h1>Our subjects</h1>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @Html.ActionLink("Add new subject", "Add")
    </div>
</div>