@model DBModels.DTO.StudentDTO
@{
    Layout = null;
}

<div class="single-student">
    <span>@Model.FirstName</span>
    <br /><span>@Model.LastName</span>
    <br /><span>@Model.Age</span>
    <br /><span>@Model.GroupName</span>
</div>
