@model UniversityWeb.Models.Students.StudentIndexModel
@{ViewBag.Title = "Students";}
<div>
    @*<script type="text/javascript">
        $(document).ready(function () {
            $.ajax({
                url: '/Students/GetStudent',
                type: 'GET',
                dataType: 'html',
                data: { Id: 1}
            })
            .success(function (data) {
                $('#student123').append(data);
            });
        });
    </script>

    <div id="student123">

    </div>
    *@
    
    <h1>Our students</h1>
    <div>
        <div id="students-table">
            @Html.Partial("GetStudentsTable", Model.Students)
        </div>

        @Html.ActionLink("Add new student", "Add")  
    </div>

    @Html.Partial("AjaxAdd", Model.Groups)
</div>